body {
  margin: 0;
  background-color: #f3f3f3;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.ql-container {
  width: 800px;
  height: 600px;
  background: white;
}